@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
.wholeSecurity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120vh;
    height: 74vh;
    margin: auto;
    /*min-height: 100vh;  Altura mínima de la pantalla completa */
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 17vh;
    border-radius: 10px;
}
.securityTitle {
    display: flex;
    margin-left: -35vh;
    margin-top: -34vh;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #4CAF50;
    width: 120vh;
    padding-left: 3vh;
    color: #ffffff;
    font-size: larger;
}
/* Estilo general del contenedor del formulario 
.forgot-password-container {
    margin: auto;
    padding: 20px;
    background-color: #266321;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/* Estilo del título del formulario */
.forgot-password-title {
    font-size: large;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Estilo del formulario */
.forgot-password-form {
    padding: 20px;
    border-radius: 8px;
    width: 80vh;
    height: 30vh;
    margin-left: 22vh;
}

/* Estilo de las etiquetas de los campos */
.forgot-password-label {
    margin-bottom: 10px;
    color: #000000;
}

/* Estilo de los campos de entrada */
.forgot-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3e8e41;
    background-color: #ffffff;
    border-radius: 5px;
}

/* Estilo del botón de envío */
.forgot-password-button {
    width: 30vh;
    margin-left: 20vh;
    padding: 10px 5px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2vh;
    font-size:large;
    transition: background-color 0.3s;
}

.forgot-password-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.forgot-password-button:hover:not(:disabled) {
    background-color: #0056b3;
}

/* Estilo del mensaje de éxito */
.forgot-password-success {
    color: #28a745;
    margin-top: 15px;
}

/* Estilo del mensaje de error */
.forgot-password-error {
    color: #dc3545;
    margin-top: 15px;
}

/* Estilo del enlace para volver a la página de inicio */
.forgot-password-link {
    margin-top: 25px;
    display: block;
    color: #000000;
    text-decoration: none;
    margin-left: 19.5vh;
}

.forgot-password-link:hover {
    text-decoration: underline;
}