@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
body {
    background-image: url(park.jpg);
}
.wholeSecurity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120vh;
    height: 74vh;
    margin: auto;
    /*min-height: 100vh;  Altura mínima de la pantalla completa */
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 17vh;
    border-radius: 10px;
}
.forgotPasswordSecurity {
  display: block;
  width: 50vh;
  
}

.securityForm {
    padding: 20px;
    border-radius: 8px;
    width: 80vh;
    margin-left: -15vh;
    height: 30vh;
}

.securityTitle {
    display: flex;
    margin-left: -35vh;
    margin-top: -34vh;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #4CAF50;
    width: 120vh;
    padding-left: 3vh;
    color: #ffffff;
    font-size: larger;
}

.securityForm label {
    display: block;
    margin-bottom: 10px;
}

.securityForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3e8e41;
    background-color: #ffffff;
    border-radius: 5px;
}

.securityForm button {
    width: 30vh;
    margin-left: 20vh;
    padding: 10px 5px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2vh;
    font-size:large;
}
.securityForm button:hover {
    background-color: #04AA6D;
}
.securityForm button:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
}

.securityForm p {
    text-align: center;
    color: red;
}
.forgot-password-link {
    margin-top: 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-left: 48vh;
}

.forgot-password-link:hover {
    text-decoration: underline;
}