@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.linkToPages {
  color: #fff;
  text-decoration: none;
}
.fullPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 250px;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
