@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
body {
  background-image: url(park.jpg);
}
.fullPageFaves {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 250px;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  background-color: #0aa07a;
  backdrop-filter: blur(5px);
}
.sideTabFaves {
  /*background-color: rgb(67, 84, 99);*/
  background-color: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 500px;
  margin-inline-end: auto;
  border-radius: 10px 0px 0px 10px;
}
.userNameBoxFaves, .topTabNameFaves {
  text-align: left;
  padding-top: 25px;
  margin-left: 20px;
  color: #ffffff;
  display: flex;
}
.sideBoxesFirstFaves:hover {
  background-color: #04AA6D;
}
.sideBoxesFirstFaves {
  /*background-color: rgb(104, 143, 177);*/
  background-color: rgba(22, 107, 36, 0.842);
  width: 250px;
  height: 70px;
  border-radius: 10px 0px 0px 0px;
}
.addContainerFaves {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addingFaves {
  background-color: #3e8e41;
  width: 180px;
  height: 40px;
  color: white;
  padding: 5px;
  font-size: 16px;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.sideBoxesFaves:hover, .addingFaves:hover {
  background-color: #04AA6D;
}
.shownTabFaves {
  background-color: rgba(255, 255, 255, 0.7);
  width: 750px;
  height: 500px;
  margin-inline-start: auto;
  border-radius: 0 10px 10px 0;
}
.topTabFaves {
  background-color: #04AA6D;
  width: 750px;
  height: 70px;
  border-radius: 0 10px 0 0;
}
.contentTabFaves {
  /*background-color: #325f34;*/
  width: 700px;
  height: 390px;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.nameOfTabFaves {
  margin-bottom: 10px;
  font-weight: 500;
}