@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Estilo base para el menú radial */
.radial-menu {
    position: relative;
    cursor: pointer;
    
}

/* Estilo para el área más grande que contiene el menú */
.larger-area {
    position: absolute;
}

/* Estilo para los elementos del menú */
.menu-item {
    position: absolute;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* Inicialmente oculto */
    opacity: 0;
    /* Inicialmente oculto por opacidad */
    transition: opacity 0.3s ease-in-out;
    /* Transición para la opacidad */
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    /* Inicialmente ocultas */
    transform: translateY(-50px) scale(0.5);

}

/* Estilo para las imágenes dentro de los elementos del menú */
.menu-item img {
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -455vh;
    margin-left: 105vh;
}

/* Estilo para las imágenes dentro de los elementos del menú */
.larger-area.active .menu-item:hover {
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
    /* Transición para el hover */
}

/* Estilo cuando el menú se activa */
.larger-area.active .menu-item {
    visibility: visible;
    /* Mostrar cuando se activa */
    opacity: 1;
    /* Mostrar cuando se activa por opacidad */
}

/* Animación de rebote para los elementos del menú */
.larger-area.active .menu-item.bounce {
    animation: bounceIn 1s ease forwards;
    /* Aplicar animación de rebote */
}

/* Retrasos para los efectos secuenciales */
.menu-item:nth-child(1) {
    animation-delay: 0.1s;
    /* Retraso para el efecto secuencial */
}

.menu-item:nth-child(2) {
    animation-delay: 0.2s;
    /* Retraso para el efecto secuencial */
}

.menu-item:nth-child(3) {
    animation-delay: 0.3s;
    /* Retraso para el efecto secuencial */
}

.menu-item:nth-child(4) {
    animation-delay: 0.4s;
    /* Retraso para el efecto secuencial */
}

.menu-item:nth-child(5) {
    animation-delay: 0.5s;
    /* Retraso para el efecto secuencial */
}

/* Definición de la animación bounceIn */
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(0.5);
        /* Posición inicial fuera de pantalla y más pequeña */
    }

    60% {
        opacity: 1;
        transform: translateY(15px) scale(1.05);
        /* Rebote hacia arriba, cerca de la posición final */
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        /* Posición final */
    }
}

.macrozone-name {
    position: absolute;
    font-size: 2rem;
    /* Ajusta el tamaño de la fuente */
    color: #D6FF7F;
    /* Cambia el color según tu diseño */
    margin-top: 40vh;
    margin-left: 65vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5rem;
    text-shadow:
        4px 2px 0 #30be96e1,
        -1px -1px 0 #23a17d,
        1px -1px 0 #0e644c,
        -1px 1px 0 #043326;
}