
.info-map {
    background-color: rgba(59, 56, 56, 0.175);
    margin: 50px auto 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.185);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info-map h2 {
    margin-top: 0;
    text-align: center;
    width: 100%;
    color: #d8f5f3;
    font-size: 2rem;
    text-shadow: 
        -1px -1px 0 rgb(204, 242, 240), /* Sombra superior izquierda */
        1px -1px 0 rgb(3, 56, 50),  /* Sombra superior derecha */
        -1px 1px 0 rgb(0, 0, 0),  /* Sombra inferior izquierda */
        2px 2px 0 rgb(7, 71, 48);   /* Sombra inferior derecha */
}

.info-map ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.info-map li {
    display: flex;
    
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    background-color: rgba(173, 237, 212, 0.678);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s;
}

.info-map li:hover {
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.908);
}

.info-map li a {
    color: #000;
    text-decoration: none;
    
    
}

.info-map li a:hover {
    color: #0c4e44;
    text-decoration: none;
}

.info-map h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-size: 1.4rem;
    color: #d8f5f3;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}