/* Estilo base para el contenedor del mapa */
.map-container {
    position: relative;
    margin-left: 70vh;
    margin-bottom: -350vh;
    margin-top: -20vh;
}

/* Estilo para el SVG del mapa */
#map {
    transform: rotate(270deg);
    height: 150vh;
    width: 60vh;
    overflow: visible;
}

/* Estilo base para las rutas del mapa (paths) */
.highlight {
    fill: #D6FF7F; 
     /* Color de relleno por defecto */
    stroke: #000000; /* Color del borde */
    stroke-width: 2px; /* Grosor del borde */
    transition: fill 0.3s ease, stroke-width 0.3s ease; /* Transición suave para el cambio de color y borde */
}

/* Estilos adicionales para el mapa */
svg {
    display: block;
    max-width: 100%;
    height: auto;
    fill: #30BE96; 
    stroke: #000000; /* Color del borde */
    stroke-width: 1px; 
}
/* Opcional: Estilo para etiquetas o nombres de las zonas */
.text-label {
    font-size: 12px;
    text-anchor: middle;
    fill: #000000;
}
