/* Estilo base para el contenedor del mapa */
.map-container {
    position: relative;
    
  }
  
#map {
    transform: rotate(270deg);
    height: 150vh;
    width: 60vh;
    margin-left: 70vh ;
    overflow: visible;
    margin-top: -20vh;
}
  /* Estilo base para las rutas del mapa (paths) */
  path {
    fill: #10b39a; /* Color de relleno por defecto */
    stroke: #000000; /* Color del borde */
    stroke-width: 1px; /* Grosor del borde */
    transition: fill 0.3s ease, stroke-width 0.3s ease; /* Transición suave para el cambio de color y borde */
  }
  
  /* Estilo cuando el mouse está sobre una zona */
  path:hover {
    fill: #05ff82; /* Color de relleno al hacer hover */
    stroke-width: 2px; /* Grosor del borde al hacer hover */
  }
  /* Estilos específicos para cada zona del mapa */

  /* Estilos adicionales para el mapa */
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* Opcional: Estilo para etiquetas o nombres de las zonas */
  .text-label {
    font-size: 12px;
    text-anchor: middle;
    fill: #000000;
  }
  
