 body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .swiper-container {
    height: 100vh;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-size: cover;
    background-position: left;
    color: white;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    padding-left: 90px;
    padding-top: 90px;
    
    

  }

  .blurredBackground {
    width: 80vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.185); /* Sombra */
  }


  .card-content  {
    
    text-align: left;
    align-items: left;
    padding: 40px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
    z-index: 2;


  }
  
  .social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    z-index: 5;

  }
  
  .social-icons svg {
    font-size: 30px;
    color: #fff;
    z-index: 5;

  }
  
  h2, h3 {
    margin: 0;
  }
  
  h2 {
    margin-top: 30px;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 760;
    margin-bottom: 20px;
    
  }
  
  h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: justify;
    color: rgb(255, 255, 255);
    filter: blur(0px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.658);
    
  }

  