body {
  background: linear-gradient(to right, rgba(1, 22, 1, 0.801), rgba(9, 59, 9, 0.5), rgba(25, 150, 25, 0));
  background-color: rgb(19, 105, 19);
}

.rotating-image {
  width: 90vh; 
  animation: rotate 20s linear infinite;
  position: absolute; 
  top: 15vh;
  left: 50vh;
  z-index: -10; /* La imagen rotativa estará detrás de los otros elementos */
}

.gameTitle {
  margin-top: 350px;
  margin-left: 510px;
  margin-bottom: 0;
  width: 400px;
  height: 200px;
}

/* Animación de rotación */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
