body {
    font-family: Arial, sans-serif;
    background-color: #9fa9b2;
    margin: 0;
    padding: 20px;
}
header {
    background-color: azure;
    text-align: center;
    margin-bottom: 20px;
}
#search-bar {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
    font-size: 16px;
}
#character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
}
.character-card img {
    width: 100%;
    border-radius: 8px;
}
