@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.AboutUsPage * {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
.aboutUsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}
.whoAreWe {
  margin-right: 10px;
  margin-left: -280px;
  font-size: x-large;
  /*background: linear-gradient(to bottom, rgb(22, 13, 32), rgb(22, 173, 166, .1));*/
  /*background-color: black;*/
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(0, 0, 0, .6));
  padding-top: 25px;
  padding-left: 50px;
  border-radius: 10px;
  height: 435px;
  width: 700px;
}
.whoAreWe:hover {
  box-shadow: rgb(0, 179, 134) 0.7px 0.9px 4px 4px;
}
.misionAndVision {
  margin-right: -300px;
}
.mision {
  padding-bottom: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  /*background: linear-gradient(to bottom, rgb(22, 13, 32), rgb(22, 173, 166, .1));*/
  /*background-color: black;*/
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(0, 0, 0, .6));
  margin-bottom: 10px;
}
.mision:hover {
  box-shadow: rgb(0, 179, 134) 0.2px 0.5px 3px 3px;
}
.vision {
  /*background: linear-gradient(to top, rgb(22, 13, 32), rgb(22, 173, 166, .1));*/
  padding: 20px 30px;
  border-radius: 10px;
  /*background-color: rgba(0, 0, 0, .8);*/
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(0, 0, 0, .6));
}
.vision:hover {
  box-shadow: rgb(0, 179, 134) 0.2px 0.5px 3px 3px;
}
.boxTitle {
  font-size: xx-large;
}
.content {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
}
.contentBit {
  font-family: 'Open Sans', sans-serif;
}
.subtitles {
  font-size: larger;
  margin-bottom: 7px;
}

.teamTitle {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: xx-large;
}
.teamContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberContainer .Icon {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
}
.memberContainer {
  display: block;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
  /*background-color: rgba(0, 0, 0, .4);*/
  border-radius: 10px;
  text-align: center;
  width: 240px;
  height: 350px;
  margin: 10px 5px;
  padding-top: 30px;
  margin-bottom: 250px;
}
.memberContainer:hover {
  transform: scale(1.03);
  box-shadow: 0.2px -1px 3px 3px rgb(0, 179, 134)
}
.name {
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
.Linked {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.GitHub {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.links a, .linkName {
  color: #fff;
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin-left: 30px;
}
.linkName {
  margin-left: 45px;
  margin-top: -31px;
}
.linkName:hover {
  text-decoration: underline;
}

.all {
  z-index: -1000;
  position: absolute;
  margin:0;
  background-image: url(chucaoGray.jpg);
  background-size: cover;
}

.bg {
  animation:slide 7s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(21, 122, 63) 50%, rgb(7, 88, 49) 50%);
  bottom:0;
  left:-50%;
  opacity:.3;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:14s;
}

.bg3 {
  animation-duration:15s;
}

.AboutUsPage {
  margin-bottom: -20vh;
  
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}