@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.infoboxContainer {
    display: flex;
    justify-content: space-between;
    /* Para distribuir el espacio entre las infoboxes */
    align-items: flex-start;
    /* Para alinear las infoboxes al inicio */
    gap: 20px;
    /* Espacio entre las infoboxes */
    padding: 20px;
    position: absolute;

}

.infobox {
    flex: 1;
    /* Para que todas las infoboxes tengan el mismo ancho */
    max-width: 25%;
    /* Ajusta el porcentaje según tus necesidades */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background-color: #6d6d6d8e;
    position: relative;
}

.infobox h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #333;
    /* Cambia este valor al color que desees para los títulos */
    padding-left: 20px;
    /* Para espacio entre el texto y la línea */
    position: relative;
    /* Necesario para la pseudo-clase */
    color: #ffffff
}

.infobox h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 250%;
    transform: translateY(-50%);
    width: 2px;
    /* Ancho de la línea */
    height: 450%;
    /* Altura de la línea */
    background-color: #ffffff;
    /* Color de la línea */
}


.infobox p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    color: #ffffff
        /* color del parrafo */
}