body{
    background-image:url(https://img.freepik.com/free-photo/tropical-green-leaves-background_53876-88891.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721865600&semt=ais_user) ;
}
.allItemsNavBar {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    padding-left: 10px; /* Espaciado opcional a la izquierda */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del tamaño del contenedor */
    width: 240px;
  }
.allItemsNavBar button {
    height: 250px;
    
    background-color: rgba(0, 0, 0, 0.5);
}
.button:hover{
    cursor: pointer;
    
}
.allItemsNavBar.background{
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.navBarItems {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    cursor: pointer;
    
  }
  
.navBarItems a {
    margin-bottom: 30px; /* Espacio entre los enlaces */
    margin-bottom: 30px;
    margin-left: 20px;
    text-decoration: none; /* Quita el subrayado del enlace */
    color: black; 
}