/* Estilo general del contenedor del formulario */
.forgot-password-container {
    max-width: 400px;
}

/* Estilo del formulario */
.forgot-password-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;
    margin-top: -50vh;
}

/* Estilo de las etiquetas de los campos */
.forgot-password-label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    
}

/* Estilo de los campos de entrada */
.forgot-password-input {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    
}

/* Estilo del botón de envío */
.forgot-password-button {
    padding: 10px;
    background-color: #12bd95;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.forgot-password-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.forgot-password-button:hover:not(:disabled) {
    background-color: #0056b3;
}

/* Estilo del mensaje de éxito */
.forgot-password-success {
    color: #28a745;
    margin-top: 15px;
}

/* Estilo del mensaje de error */
.forgot-password-error {
    color: #dc3545;
    margin-top: 15px;
}

.forgot-password-link:hover {
    text-decoration: underline;
    cursor: pointer;
}