.app-container {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    gap: 20px; /* Ajusta el espacio entre la imagen y el acordeón */
    padding: 20px;
    margin: 0;
    margin-top: 30vh;
    padding: 0;
    justify-content: center;
    height: auto; /* Asegura que el contenido esté centrado verticalmente en toda la ventana */
    background-color: #f0f0f0;
}

.accordion-wrapper {
    max-width: 300px; /* Limita el tamaño del acordeón */
    margin-left: 100vh;
    margin-top: -60vh;
}

.image {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
}

.image img {
    max-width: 600px; /* Tamaño máximo de la imagen, aumenta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    margin-right: 50vh;
    margin-top: -10vh;
}