@import url('https://fonts.googleapis.com/css?family=Lobster');

#carousel {
    position: absolute;
    height: 200px;
    width: 1200px; /* Ajusta el ancho para acomodar las imágenes ampliadas */
    margin: auto;
    left: 0;
    right: 0;
    top: 25vh;
    bottom: 0;
}

.carousel-items {
    display: flex;
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    line-height: 30px;
    z-index: 1000;
}

.arrow-right {
    right: 0; /* Ajusta la posición de la flecha derecha */
}

.arrow-left {
    left: 0; /* Ajusta la posición de la flecha izquierda */
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
    border-radius: 10px;
}

.item img {
    height: 110%;
    width: 110%;
    border-radius: 10px;
    object-fit: cover;
}

.item img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.level-2 {
    height: 150px;
    width: 150px; /* Ajusta el ancho de la imagen */
    line-height: 150px;
    left: calc(650px + 330px); /* Ajusta la posición con margen */
    margin-top: 25px;
}

.level-1 {
    height: 210px;
    width: 180px; /* Ajusta el ancho de la imagen */
    line-height: 180px;
    left: calc(500px + 270px); /* Ajusta la posición con margen */
    margin-top: 10px;
}

.level0 {
    height: 300px;
    width: 250px; /* Ajusta el ancho de la imagen */
    line-height: 200px;
    left: calc(330px + 150px); /* Ajusta la posición con margen */
}

.level1 {
    height: 210px;
    width: 180px; /* Ajusta el ancho de la imagen */
    line-height: 180px;
    margin-top: 10px;
    left: calc(180px + 80px); /* Ajusta la posición con margen */
}

.level2 {
    height: 150px;
    width: 150px; /* Ajusta el ancho de la imagen */
    line-height: 150px;
    margin-top: 25px;
    left: calc(50px + 30px); /* Ajusta la posición con margen */
}

/* Transiciones para movimientos hacia la izquierda */
.carousel-items.left-enter {
    opacity: 0;
    transform: translateX(100%);
}

.carousel-items.left-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.carousel-items.left-exit {
    opacity: 1;
    transform: translateX(0);
}

.carousel-items.left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}

/* Transiciones para movimientos hacia la derecha */
.carousel-items.right-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.carousel-items.right-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.carousel-items.right-exit {
    opacity: 1;
    transform: translateX(0);
}

.carousel-items.right-exit-active {
    opacity: 0;
    transform: translateX(100%);
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}