.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-image 1s ease-in;
}

.section.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  /* Permite que los infoboxes se posicionen encima de la sección */
  z-index: 1;
  position: relative;
}

.static-image {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.title-image {
  margin-top: 20vh;
  width: 180vh;
  
}


.Navbar {
  position: fixed;
}

/* Estilos para los puntos indicadores */
.dots-container {
  position: absolute; /* Ajusta la posición según sea necesario */
  bottom: 10px; /* Espacio desde el fondo */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px; /* Espacio entre los puntos */
}

.dot {
  width: 15px; /* Tamaño del punto */
  height: 15px;
  border-radius: 50%; /* Hace el punto redondo */
  background-color: rgba(0, 0, 0, 0.575); /* Color del punto */
  cursor: pointer; /* Cambia el cursor cuando se pasa sobre el punto */
  transition: background-color 0.3s; /* Transición suave para el color */
}

.dot.active {
  background-color: rgb(0, 230, 210); /* Color del punto cuando está activo */
}