body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenido esté centrado verticalmente en toda la ventana */
    background-color: #f0f0f0;
}

.app-container {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    gap: 20px; /* Ajusta el espacio entre la imagen y el acordeón */
    padding: 20px;
}

.accordion-wrapper {
    max-width: 300px; /* Limita el tamaño del acordeón */
}

.image {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
}

.image img {
    max-width: 600px; /* Tamaño máximo de la imagen, aumenta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
}