/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.languageToggle p.color, .loginTab p.color {
  color: white;
}

/* Reinicio de márgenes y rellenos */
.headerContainer * {
  margin: 0;
  padding: 0;
}

/* Estilos generales */
.puduLogo {
  width: 215px;
  height: 75px;
}

.headerContainer {
  background: linear-gradient(
  to top, 
  rgba(255, 255, 255, 0) 0%,  /* Transparente en la parte inferior */
   
  rgb(0, 49, 67) 100%  /* Completamente negro en la parte superior */
);
  display: flex;
  align-items: center; /* Ajustado para centrar verticalmente */
  max-width: 100%;
  height: 120px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
}

/* Estilos de íconos */
.shareIcon {
  width: 25px;
  height: 25px;
}

/* Contenedor de elementos en el header */
.miscContainer {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  width: fit-content;
  padding: 40px 30px;
  margin-left: auto;
}

/* Contenedor para el botón de búsqueda y el botón de compartir */
.buttonsWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

/* Botón de compartir */
.shareButton {
  display: flex;
  padding-right: 50px;
  margin-top: 6px;
}

.shareButton::after {
  content: "COMPARTIR";
  margin-left: 15px; /* Texto antes del contenido del elemento */
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

/* Otros estilos para los elementos */
.languageToggle {
  display: flex;
  padding-right: 50px;
  padding-top: 7px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.loginTab {
  display: flex;
  padding-right: 5px;
}

.loginTab img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  margin-top: -6px;
}

.loginTab p {
  padding-top: 8px;
  padding-right: 8px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.loginTab a {
  padding-top: 8px;
  padding-right: 8px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-weight: 400;
}

.logoContainer {
  display: flex;
  margin-left: 50px;
  margin-top: 5px;
  z-index: 10;
}

.logoContainer p {
  padding-left: 5px;
  height: 60px;
  font-size: large;
  font-family: "Inter", sans-serif;
}

.logoContainer:hover, .languageToggle:hover, .loginTab:hover, .shareButton:hover {
  cursor: pointer;
}

.languageToggle p {
  color: white;
}
.loginTab p {
  color: white;
}

.backOff {
  transform: translateY(148px) translateX(-70vh);
  width: 191.5vh;
}
