.TriviaGame {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30vh auto;
    padding: 30px;
    max-width: 600px;
}

.trivia {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}

.TriviaGame .title {
    color: rgb(228, 249, 242);
    font-size: 4rem;
    margin-bottom: 20px;
}

.TriviaGame h3 {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.buttonStart, .buttonTrivia {
    background-color: #d9abfff0;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.buttonStart:hover {
    background-color: #10e6a6;
}
.buttonTrivia:hover{
    background-color: #10e6a6;
}
.buttonTrivia:hover{
    background-color: #10e6a6;
}

.options {
    margin: 20px 0;
}

.options button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 5px auto;
}

.paragraph p {
    color: #0e0d0d;
    font-size: 1rem;
}

.paragraph h3 {
    color: #00ffee;
    font-size: 2rem;
}

.finished {
    margin-top: 20px;
}

.questions h3 {
    color: rgb(48, 65, 4);
}

.Pudu {
    display: flex;
    margin-left: 25vh;
    margin-bottom: 5vh;
    border-radius: 10%;
}
